<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1.0">
  <meta http-equiv="refresh" content="30">
  <title>Alarmclock</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body class="body page-index clearfix">

<%= yield %>


<script type="text/javascript">
	$.ajaxSetup({ async : false })
	$(window).bind('beforeunload', function(){ 
      $.ajax({
        url: '/alarms/set_background_tab',
        type: "POST",
        data: "value=true",
        success: function(response){

        }
        });
    } );

	$.ajax({
    url: '/alarms/set_background_tab',
    type: "POST",
    data: "value=false",
    success: function(response){

    }
    });
</script>
</body>
</html>